* {
    box-sizing: border-box;
    outline: 0;
    border-radius: 0;
}

*:not(button) {
    background: white;
    color: black;
    border-color: black;
}

html, body {
    height: calc(100% - 10px);
}

body {
    margin: 10px;
}

hr {
    border: 0;
    border-top: 1px solid;
}

.v_flexer {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.h_flexer {
    gap: 5px;
    display: flex;
    flex-flow: row;
}

.v_flexer *, .h_flexer * {
    flex: 1;
}

.no_flex {
    flex: none;
}

.tall {
    height: 100%;
}

button {
    border: 1px solid;
    margin-bottom: 1px;
}

#content {
    border: 1px solid;
    padding: 5px;
    text-align: center;
    overflow-y: scroll;
}

#content .codeblock {
    border: 1px solid;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    text-align: start;
}

@media (prefers-color-scheme: dark) {
    *:not(button) {
        background: black;
        color: white;
        border-color: white;
    }
}

@media print {
    #tabs { display: none; }
    #content { overflow-y: visible; }
}